*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --color-accent: #723D46
}

body {
  /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
  font: 100%/1.5 system-ui;
  max-width: 50rem;
  margin-inline: auto;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
}

label {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

nav {
  display: flex;
  border-bottom: 1px solid oklch(80% 3% 200);
  margin-bottom: 1.5rem;

  a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
    
  }
}

.curr {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  margin-bottom: 0em;
}

#name, #photo {
  margin-bottom: 1.5rem;
}

a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: oklch(from var(--color-accent) 95% 5% h)
}
